<body style="background-color: #dcf8ff;padding-top: 5%;">
        <div class="container">
        <a [routerLink]="[ '/add' ]" routerLinkActive="active" class="btn btn-primary">Add Student</a><br><br>
        <div style="background-color: turquoise;">
            <h1 style="padding-bottom:2%" class="text-center">Students DataBase</h1>
        </div>
        <ng-container *ngIf="items!=empty; else elseTemplate">
            <table border="1" width=100%>
                <tr class="text-center">
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email ID</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                <tr class="text-center" *ngFor="let item of items">
                    <td>{{item.sid}}</td>
                    <td>{{item.fname}}</td>
                    <td>{{item.lname}}</td>
                    <td>{{item.email}}</td>
                    <td><button class="btn btn-success" (click)="edit(item)">Edit</button></td>
                    <td><button class="btn btn-danger" (click)="delete(item)">Remove</button></td>
                </tr>
            </table>
        </ng-container>
        <ng-template #elseTemplate>
            <h1 class="text-center" style="color: red;">No Records Found!!!</h1>
        </ng-template>
        </div>
</body>